.login-container{
    position: relative;
    margin-top: 15vh;
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    width: 350px;
    margin-bottom: 15vh;
    background-color: white;
    box-shadow: 10px 10px rgb(180, 175, 175);

}
@media (max-width:450px) {
    .login-container{
        
    width:90%;
    }
}
@media (max-width:750px) {
    .login-container{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

.login-data{
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.input-field{
    margin-bottom: 20px;
    max-width: 380px;
    width:100%;
    height:55px;
    background-color: #f0f0f0;
    margin:10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0.4rem;
}

.input-field i{
    text-align: center;
    line-height: 60px;
    color: #acacac;
    font-size: 1.1rem;
}


.inp{
    background:none;
    outline:none;
    border:none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.btn{
  padding:10px;
  border: none;
  text-decoration: none;
  border-radius: 20px;  
  width: 100%;
  cursor: pointer;
  text-align: center;
  display:block;
}

.btn:hover{
    background-color: #dd5050;
    color:white;
    
}

.color-brown{
    background-color: rgb(142, 102, 102);
    color:white;
    
    box-shadow: 3px 3px rgba(55, 54, 53, 0.601);
}
.color-white{
    background-color: white;
    border:2px black solid;
    color:black;
    
    box-shadow: 3px 3px rgba(55, 54, 53, 0.601);
}

input[type=checkbox]{
    height:18px;
    width: 18px;
    margin-top: 10px;
    margin-left: 15px;
}


.content{
    height: auto;
    background-color: #1b1b1b;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

footer{
    height: auto;
    background-color: black;
    color:white;
    padding:10px;
    text-align: center;
}
