
/*I have used different font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

nav {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 60px 0 60px;
    justify-content: space-between;
}
.icon{
    color:white;
    font-size: 25px; 
    cursor: pointer;
}
#click {
    display: none;
}

#menu-bar {
    list-style: none;
    display: flex;
}

.logo{
    display: flex;
}

.logo a{
    margin-right: 4px;
    display: inline;
    font-size: 30px;
    color: white !important;
    text-decoration: none;
    font-weight: 600;
}

.link {
    margin: 0 10px;
    text-decoration: none;
    color: white;

    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.auth-btn {
    background-color: white;
    color: black;
}

.auth-btn2 {
    background-color: rgb(142, 102, 102);
    color: white;
}

.link:hover,
.link.active {

    color: cyan;
}


@media (min-width:950px) {

    .left-size{
        margin-left: 50px;
    }

}


@media (max-width:950px) {


    nav {
        padding: 0 20px 0 20px;
    }

    #click {
        display: inline;
    }

    #menu-bar {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #1b1b1b;
        height: 100vh;
        width: 100%;
        display: block;
        transition: all 0.3s ease;
        z-index: 1;
    }

    .link:hover,
    .link.active {
        background-color: transparent;
        color: cyan;
    }

    .list {
        text-align: center;
        margin: 25px 0px;
        align-items: center;
    }

    .auth-btn {
        display: block;
    }

    .auth-btn2 {
        margin-top: -15px;
        display: block;
    }
    .indextext{
        padding:20px;
        
    }
}